<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4hHGRs1B5GtWzfuhP6CHxtcHor0AMLVI</string>
	<key>GCM_SENDER_ID</key>
	<string>934856756615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chantierPlus</string>
	<key>PROJECT_ID</key>
	<string>chantierplus-b9b6a</string>
	<key>STORAGE_BUCKET</key>
	<string>chantierplus-b9b6a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934856756615:ios:a4d1d7d9da8759c235d722</string>
</dict>
</plist>